ol,
ul {
	list-style: none
}

blockquote,
q {
	quotes: none
}



input::-ms-clear {
	display: none
}


:root {
	--space-unit: 1em;
	--space-xxxxs: calc(0.125*var(--space-unit));
	--space-xxxs: calc(0.25*var(--space-unit));
	--space-xxs: calc(0.375*var(--space-unit));
	--space-xs: calc(0.5*var(--space-unit));
	--space-sm: calc(0.75*var(--space-unit));
	--space-md: calc(1.25*var(--space-unit));
	--space-lg: calc(2*var(--space-unit));
	--space-xl: calc(3.25*var(--space-unit));
	--space-xxl: calc(5.25*var(--space-unit));
	--space-xxxl: calc(8.5*var(--space-unit));
	--space-xxxxl: calc(13.75*var(--space-unit));
	--component-padding: var(--space-md)
}

:root {
	--max-width-xxs: 32rem;
	--max-width-xs: 38rem;
	--max-width-sm: 48rem;
	--max-width-md: 64rem;
	--max-width-lg: 80rem;
	--max-width-xl: 90rem;
	--max-width-xxl: 120rem
}



.max-width-adaptive,
.max-width-adaptive-lg {
	max-width: 38rem;
	max-width: var(--max-width-xs)
}

@media (min-width: 64rem) {
	.max-width-adaptive,
	.max-width-adaptive-lg {
		max-width: 64rem;
		max-width: var(--max-width-md)
	}
}

@media (min-width: 90rem) {
	.max-width-adaptive,
	.max-width-adaptive-lg {
		max-width: 80rem;
		max-width: var(--max-width-lg)
	}
}

.max-width-adaptive-xl {
	max-width: 38rem;
	max-width: var(--max-width-xs)
}

@media (min-width: 64rem) {
	.max-width-adaptive-xl {
		max-width: 64rem;
		max-width: var(--max-width-md)
	}
}

@media (min-width: 90rem) {
	.max-width-adaptive-xl {
		max-width: 90rem;
		max-width: var(--max-width-xl)
	}
}



:root {
	--radius-sm: calc(var(--radius, 0.25em)/2);
	--radius-md: var(--radius, 0.25em);
	--radius-lg: calc(var(--radius, 0.25em)*2);
	--bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	--ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
	--ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	--ease-out: cubic-bezier(0.215, 0.61, 0.355, 1)
}

:root {
	--body-line-height: 1.4;
	--heading-line-height: 1.2
}

.text-xxxl {
	font-size: 2.48832em;
	font-size: var(--text-xxxl, 2.488em)
}

.text-xxl {
	font-size: 2.0736em;
	font-size: var(--text-xxl, 2.074em)
}


.text-xl {
	font-size: 1.728em;
	font-size: var(--text-xl, 1.728em)
}

.text-lg {
	font-size: 1.44em;
	font-size: var(--text-lg, 1.44em)
}

.text-md {
	font-size: 1.2em;
	font-size: var(--text-md, 1.2em)
}

small,
.text-sm {
	font-size: 0.83333em;
	font-size: var(--text-sm, 0.833em)
}

.text-xs {
	font-size: 0.69444em;
	font-size: var(--text-xs, 0.694em)
}


u,
.text-underline {
	text-decoration: underline
}

:root {
	--icon-xxs: 12px;
	--icon-xs: 16px;
	--icon-sm: 24px;
	--icon-md: 32px;
	--icon-lg: 48px;
	--icon-xl: 64px;
	--icon-xxl: 128px
}

.icon {
	display: inline-block;
	color: inherit;
	fill: currentColor;
	height: 1em;
	width: 1em;
	line-height: 1;
	-ms-flex-negative: 0;
	flex-shrink: 0
}

.icon--xxs {
	font-size: 12px;
	font-size: var(--icon-xxs)
}

.icon--xs {
	font-size: 16px;
	font-size: var(--icon-xs)
}

.icon--sm {
	font-size: 24px;
	font-size: var(--icon-sm)
}

.icon--md {
	font-size: 32px;
	font-size: var(--icon-md)
}

.icon--lg {
	font-size: 48px;
	font-size: var(--icon-lg)
}

.icon--xl {
	font-size: 64px;
	font-size: var(--icon-xl)
}

.icon--xxl {
	font-size: 128px;
	font-size: var(--icon-xxl)
}

.icon--is-spinning {
	-webkit-animation: icon-spin 1s infinite linear;
	animation: icon-spin 1s infinite linear
}


@keyframes icon-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

.icon use {
	color: inherit;
	fill: currentColor
}

.radio-list>*,
.checkbox-list>* {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: baseline;
	align-items: baseline;

}

.radio-list>*:last-of-type,
.checkbox-list>*:last-of-type {
	margin-bottom: 0
}

.radio-list label,
.checkbox-list label {
	line-height: 1.4;
	line-height: var(--body-line-height);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.radio-list input,
.checkbox-list input {
	vertical-align: top;
	margin-right: 0.25em;
	margin-right: var(--space-xxxs);
	-ms-flex-negative: 0;
	flex-shrink: 0
}

:root {
	--zindex-header: 2;
	--zindex-popover: 5;
	--zindex-fixed-element: 10;
	--zindex-overlay: 15
}
@media not all and (min-width: 32rem) {
	.has-padding\@xs {
		padding: 0 !important
	}
}

@media not all and (min-width: 48rem) {
	.has-padding\@sm {
		padding: 0 !important
	}
}

@media not all and (min-width: 64rem) {
	.has-padding\@md {
		padding: 0 !important
	}
}

@media not all and (min-width: 80rem) {
	.has-padding\@lg {
		padding: 0 !important
	}
}

@media not all and (min-width: 90rem) {
	.has-padding\@xl {
		padding: 0 !important
	}
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.text-replace {
	overflow: hidden;
	color: transparent;
	text-indent: 100%;
	white-space: nowrap
}

.text-center {
	text-align: center
}

.text-left {
	text-align: left
}

.text-right {
	text-align: right
}

@media (min-width: 32rem) {
	.text-center\@xs {
		text-align: center
	}
	.text-left\@xs {
		text-align: left
	}
	.text-right\@xs {
		text-align: right
	}
}

@media (min-width: 48rem) {
	.text-center\@sm {
		text-align: center
	}
	.text-left\@sm {
		text-align: left
	}
	.text-right\@sm {
		text-align: right
	}
}

@media (min-width: 64rem) {
	.text-center\@md {
		text-align: center
	}
	.text-left\@md {
		text-align: left
	}
	.text-right\@md {
		text-align: right
	}
}

@media (min-width: 80rem) {
	.text-center\@lg {
		text-align: center
	}
	.text-left\@lg {
		text-align: left
	}
	.text-right\@lg {
		text-align: right
	}
}

@media (min-width: 90rem) {
	.text-center\@xl {
		text-align: center
	}
	.text-left\@xl {
		text-align: left
	}
	.text-right\@xl {
		text-align: right
	}
}
/*
@supports (--css: variables) {
	@media (min-width: 64rem) {
		:root {
			--space-unit: 1.25em
		}
	}
}*/

:root {
	--radius: 0.25em
}

:root {
	--font-primary: sans-serif;
	--text-base-size: 1em;
	--text-scale-ratio: 1.2;
	--text-xs: calc(1em/var(--text-scale-ratio)/var(--text-scale-ratio));
	--text-sm: calc(var(--text-xs)*var(--text-scale-ratio));
	--text-md: calc(var(--text-sm)*var(--text-scale-ratio)*var(--text-scale-ratio));
	--text-lg: calc(var(--text-md)*var(--text-scale-ratio));
	--text-xl: calc(var(--text-lg)*var(--text-scale-ratio));
	--text-xxl: calc(var(--text-xl)*var(--text-scale-ratio));
	--text-xxxl: calc(var(--text-xxl)*var(--text-scale-ratio));
	--body-line-height: 1.4;
	--heading-line-height: 1.2;
	--font-primary-capital-letter: 1
}

@supports (--css: variables) {
	@media (min-width: 64rem) {
		:root {
			--text-base-size: 1.25em;
			--text-scale-ratio: 1.25
		}
	}
}

mark {
	background-color: hsla(355, 90%, 61%, 0.2);
	background-color: hsla(var(--color-accent-h), var(--color-accent-s), var(--color-accent-l), 0.2);
	color: inherit
}

:root {
	--btn-font-size: 1em;
	--btn-font-size-sm: calc(var(--btn-font-size) - 0.2em);
	--btn-font-size-md: calc(var(--btn-font-size) + 0.2em);
	--btn-font-size-lg: calc(var(--btn-font-size) + 0.4em);
	--btn-radius: 0.25em;
	--btn-padding-x: var(--space-sm);
	--btn-padding-y: var(--space-xs)
}


:root {
	--form-control-padding-x: var(--space-sm);
	--form-control-padding-y: var(--space-xs);
	--form-control-radius: 0.25em
}


.cd-article-link {
	color: rgba(0, 0, 0, 0.5)
}


.cd-accordion {
	background: hsl(218, 7%, 32%);
	background: var(--cd-color-1);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-shadow: 0 1px 8px rgba(0, 0, 0, .1), 0 16px 48px rgba(0, 0, 0, .1), 0 24px 60px rgba(0, 0, 0, .1);
	box-shadow: var(--shadow-lg)
}

.cd-accordion--animated .cd-accordion__label::before {
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s
}

.cd-accordion__sub {
	display: none;
	overflow: hidden
}

.cd-accordion__sub--is-visible {
	display: block
}

.cd-accordion__item {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.cd-accordion__input {
	position: absolute;
	opacity: 0
}

.cd-accordion__label {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: 0.75em 1.25em;
	padding: var(--space-sm) var(--space-md);
	background: white;
	background: var(--cd-color-1);
	
	box-shadow: inset 0 -1px lightness(hsl(218, 7%, 32%), 1.2);
	box-shadow: inset 0 -1px var(--color-shadow);
	color: hsl(0, 0%, 100%);
	color: var(--color-white)
}

.cd-accordion__label span {
	-ms-flex-order: 3;
	order: 3
}

.cd-accordion__label:hover {
	background: white;
	background: hsl(var(--cd-color-1-h), var(--cd-color-1-s), calc(var(--cd-color-1-l)*1.1))
}

.cd-accordion__label::after,
.cd-accordion__label--icon-folder::before {
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	background-image: url("../img/cd-icons.svg");
	background-repeat: no-repeat;
	margin-right: 0.25em;
	margin-right: var(--space-xxxs)
}

.cd-accordion__label--icon-folder::before {
	-ms-flex-order: 1;
	order: 1
}

.cd-accordion__label::after {
	-ms-flex-order: 2;
	order: 2
}

.cd-accordion__label--icon-folder::before {
	background-position: 0 0;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg)
}

.cd-accordion__label--icon-folder::after {
	background-position: -16px 0
}

.cd-accordion__label--icon-img::after {
	background-position: -48px 0
}

.cd-accordion__input:checked+.cd-accordion__label::before {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0)
}

.cd-accordion__input:checked+.cd-accordion__label::after {
	background-position: -32px 0
}

.cd-accordion__input:checked~.cd-accordion__sub {
	display: block
}

.cd-accordion__sub--l1 .cd-accordion__label {
	background: white;
	background: hsl(var(--cd-color-1-h), var(--cd-color-1-s), calc(var(--cd-color-1-l)*0.65));
	--color-shadow: lightness(hsl(218, 7%, 32%), 0.85);
	--color-shadow: lightness(var(--cd-color-1), 0.85);
	box-shadow: inset 0 -1px lightness(hsl(218, 7%, 32%), 0.85);
	box-shadow: inset 0 -1px var(--color-shadow);
	padding-left: calc(1.25em + 16px);
	padding-left: calc(var(--space-md) + 16px)
}

.cd-accordion__sub--l1 .cd-accordion__label:hover {
	background: white;
	background: hsl(var(--cd-color-1-h), var(--cd-color-1-s), calc(var(--cd-color-1-l)*0.75))
}

.cd-accordion__item:last-child .cd-accordion__label {
	box-shadow: none
}

.cd-accordion__sub--l2 .cd-accordion__label {
	padding-left: calc(1.5em + 32px);
	padding-left: calc(var(--space-md) + var(--space-xxxs) + 32px)
}

.cd-accordion__sub--l3 .cd-accordion__label {
	padding-left: calc(1.5em + 48px);
	padding-left: calc(var(--space-md) + var(--space-xxxs) + 48px)
}